body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

.wrapper {
  display: grid;
  gap: 25px;
}

#form-filter-date {
  display: grid;
  grid-template-columns: repeat(2, 150px) 100px;
}

.wrapper-bookings {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 10%;
  gap: 4%;
  justify-items: center;
}

.bookings-wrapper {
  height: 525px;
  overflow: auto;
  min-width: 335px;
  background: #fefefe;
  border: 1px solid;
}

.bookings {
  display: grid;
  gap: 5px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.bookings div {
  display: flex;
  align-items: center;
}

.bookings span {
  font-weight: bold;
}

.bookings p {
  margin: 0 5px;
}
